
.vs/UnityGameBoard/v15/Server/sqlite3/db.lock
Temp/UnityLockfile
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
sysinfo.txt
*.pidb.meta
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Library/assetDatabase3
Library/assetDatabase3
Library/metadata/00/00000000000000004000000000000000
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/assetDatabase3
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/assetDatabase3
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/assetDatabase3
Library/assetDatabase3
Library/metadata/dd/dd1a7a5083c99674bb376cbb13d34914.info
Library/metadata/ef/efd7db5a1dcb66d4a817a55bef5b73fb.info
Library/metadata/f6/f631629de52d49647aea57f1c286ed4e.info
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/assetDatabase3
Library/assetDatabase3
Library/metadata/9c/9c93333356aae2b459d7a06e366f25c6
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/assetDatabase3
Library/ScriptAssemblies/Assembly-CSharp.dll
Assets/Scripts/BoardManager.cs
Library/CurrentLayout.dwlt
Library/metadata/00/00000000000000003000000000000000
Library/metadata/2c/2c2fa2878e4800a41aaa7ad09c327b6b.info
Library/metadata/35/35313af049b4a2f42a0325330c51d74a.info
Library/metadata/3a/3a4ba99e8e10951418bd8b90956372ce.info
Library/metadata/4d/4dadbe1b236ca9d4fb0c3908f2d0d101.info
Library/metadata/83/83bc18766c1eca248931e67b47941a5c.info
Library/metadata/96/96e11e5a67c35cd4a8c249b266fb4e5b.info
Library/metadata/9c/9c93333356aae2b459d7a06e366f25c6
Library/metadata/cb/cbe256095f9e6ec4197a78f3bc1ec26a.info
Library/metadata/f1/f109c34a9760bb44a82a5b8e4011115a.info
Library/metadata/f2/f230e371571ae6e44839a6ddb45e4f39.info
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
