
.vs/UnityGameBoard/v15/Server/sqlite3/db.lock
Temp/UnityLockfile
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
sysinfo.txt
*.pidb.meta
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Library/assetDatabase3
Library/assetDatabase3
Library/metadata/00/00000000000000004000000000000000
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/assetDatabase3
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/assetDatabase3
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/assetDatabase3
Library/assetDatabase3
Library/metadata/dd/dd1a7a5083c99674bb376cbb13d34914.info
Library/metadata/ef/efd7db5a1dcb66d4a817a55bef5b73fb.info
Library/metadata/f6/f631629de52d49647aea57f1c286ed4e.info
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/assetDatabase3
Library/assetDatabase3
Library/metadata/9c/9c93333356aae2b459d7a06e366f25c6
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
